.mobileFilterHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size:50px;
    color:white;
    background-color: #fc4e67;
    font-weight:bold;
    font-family: Arial, serif;
    height: 100px;
    min-width: 320px !important;
    padding:20px;
}

.menuIcon {
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmlld0JveD0iMCAwIDQ1OSA0NTkiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQ1OSA0NTk7IiB4bWw6c3BhY2U9InByZXNlcnZlIiBjbGFzcz0iIj48Zz48Zz4KCTxnIGlkPSJmaWx0ZXIiPgoJCTxwYXRoIGQ9Ik0xNzguNSwzODIuNWgxMDJ2LTUxaC0xMDJWMzgyLjV6IE0wLDc2LjV2NTFoNDU5di01MUgweiBNNzYuNSwyNTVoMzA2di01MWgtMzA2VjI1NXoiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6I0ZGRkZGRiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+');
    width: 70px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent !important;
    border: none;
}