.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.label {
    color:#252525 !important;
    font-size: 15px;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
    color: dodgerblue;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    opacity: 0;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.filterBtn {
    width: 100%;
}

.input-range__slider {
    background: dodgerblue !important;
    border: 1px solid dodgerblue !important;
}

.input-range__track--active {
    background: dodgerblue !important;
}

.input-range {
    width: 90% !important;
    margin-left: 15px;
}

.input-range__label {
    color: #252525 !important;
}

.hide-min-max .input-range__label--min {
    display:none;
}

.hide-min-max .input-range__label--max {
    display: none;
}

.maximumDistance > input-range__label--min {
    font-weight:bold;
    font-size:9px;
}

.maximumDistance > input-range__label--max {
    font-weight:bold;
    font-size:9px;
}
