.matchCard {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    margin: auto auto 30px;
}

.mainPhoto {
    height: 200px;
    background: transparent no-repeat center;
    background-size: cover;
}

.rating-star {
    font-size: 19px;
    width: 15px;
    height: 15px;
    top: -3px;
    left: 3px;
    position: relative;
    display: block;
}

.card-body {
    padding: 15px 0px 15px 0px;
}

.card-deck .card {
    border: none !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.full-star:before {
    color: #f2b01e;
    content: "\2605";
    position: absolute;
    left: 0;
    overflow: hidden;
}

.favourite {
}

.cardTitle {
    display: flex;
    flex-direction: row;
    font-family: roboto, sans-serif;
    font-weight: 600;
    color: #444;
}

.card-text {
    font-family: roboto, sans-serif;
    font-size: 11px;
    color: #555;
}

.card-subtitle {
    margin-top: -0.75rem !important;
    margin-bottom: 0;
    font-family: roboto, sans-serif;
    font-size: 11px;
    color: #555;
}

img {
    width: 100% !important;
    min-width: 100% !important;
    height: auto
}